h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 20px;
}

h3 {
  text-align: center;
}

p {
  font-size: 50px;
  text-align: center;
}

form {
  text-align: center;
  margin: 10px;
}

.col-2 {
  display: inline;
  padding: 10px;
}

.container {
  border: 1px solid #ff9ac7;
  background-color: #ff9ac7;
  color: #ffdff7;
  border-radius: 10px;
  box-shadow: 9px 9px 5px #ff68ab;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
}

.row {
  border: 1px solid;
  border-radius: 10px;
}

footer {
  text-align: center;
}
